@import './../../sass/interface';
@import './../../sass/variables';
$horizontal-padding: 1.25rem;
div#dashboard-container {
    background: $light-blue;
    min-height: 100vh;
    div#header-container {
        background: white;
        // header right section horizontal margin 
        $HR-horizontal-margin: 1.25rem;
        i.fa-bars {
            font-size: 1.6rem;
            margin-right: 2.25rem;
        }
        i.fa-comment,
        i.fa-bell-slash {
            font-size: 1.2rem;
            color: grey;
            margin-left: $HR-horizontal-margin;
            margin-right: 0;
        }
        input.search-bar {
            border: transparent solid 1px;
        }
        .description {
            vertical-align: text-bottom;
        }
        img.profile-icon {
            width: 40px;
            height: 40px;
            margin-left: $HR-horizontal-margin;
        }
        div.profile-name {
            color: #333;
            font-weight: normal;
            margin-left: 0.5rem;
            margin-right: 1rem;
        }
    }
    .container-fluid {
        .row {
            div.card-body {
                background: white;
                border-radius: 3px;
                border: transparentize($color: #333, $amount: 0.8) solid 1px;
                margin-bottom: 2rem;
                .card-header {
                    background: transparent;
                    color: black;
                    font-weight: normal;
                }
            }
            div.card-body.dashboard-card {
                i {
                    font-size: 2rem;
                    margin-right: 1.5rem;
                    align-self: center;
                }
                div.media-body {
                    div.value {
                        font-weight: normal;
                        font-size: 1.25rem;
                    }
                    div.description {
                        font-size: 0.8rem;
                        font-weight: normal;
                        color: grey;
                    }
                }
            }
            div.card-body.dashboard-card-2 {
                padding: 0;
                .card-content {
                    height: 25rem;
                }
            }
            div.card-body.dashboard-card-3 {
                padding: 0;
                .card-content {
                    height: 20rem;
                }
            }
        }
    }
}