<div id="dashboard-container">
    <div id="header-container" class="navbar-item row align-items-center">
        <i class="fas fa-bars"></i>
        <input type="text" class="search-bar" placeholder="Search projects..." aria-label="Search projects...">
        <div class="description ml-auto">Welcome to AppStack Admin Template.</div>
        <i class="far fa-comment"></i>
        <i class="far fa-bell-slash"></i>
        <img class="profile-icon" src="./../../../assets/homer.png" alt="profile icon">
        <div class="profile-name">Homer Simpson</div>
    </div>
</div>