@import '../../sass/interface';
@import '../../sass/variables';
$horizontal-padding: 1.25rem;
div#navbar-container {
    background: $background-grey;
    width: 100%;
    height: 100%;
    color: $grey-font;
    div#navbar-icon {
        padding: 1.15rem $horizontal-padding;
        width: 100%;
        height: auto;
        display: flex;
        cursor: pointer;
        color: white;
        margin-bottom: 0.185rem;
        img {
            width: 24px;
            height: 24px;
            filter: invert(100);
            margin-right: .7rem;
        }
        span {
            font-size: 1.15rem;
        }
    }
    .navbar-tabs {
        text-transform: capitalize;
        li.navbar-header {
            font-size: 0.75rem;
            padding: 0.25rem $horizontal-padding 0.25rem $horizontal-padding;
        }
        li.navbar-item {
            color: $light-grey-font;
            i {
                width: 15px;
                margin-right: 1rem;
            }
        }
        ul.item-tabs {
            li.navbar-item {
                padding-left: $horizontal-padding*2;
            }
        }
        .selected-item {
            background: $background-darker-grey;
            color: white !important;
        }
    }
}